<!-- order_success.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h1 class="text-center">주문 실패</h1>
          </div>
          <div class="card-body text-center">
            <p class="mt-4">주문이 실패되었습니다. 다시 시도해 주세요.</p>
            <a href="{% url 'order' %}" class="btn btn-danger">다시 시도</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
